@import "tailwindcss";
@plugin "daisyui" {
   themes: acid --default;
}

.container {
  @apply max-w-6xl px-10 mx-auto;
}

.container-hero {
  @apply max-w-6xl px-20 mx-auto;
}

.bar {
  @apply block h-1 w-full bg-fuchsia-600 rounded-md transition-all duration-300 ease-in;
}

@theme {
  --animate-wave: wave-animation 1.5s infinite;
  @keyframes wave-animation {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(14deg); }
    30% { transform: rotate(-8deg); }
    40% { transform: rotate(14deg); }
    50% { transform: rotate(-4deg); }
    60% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
  }
}